@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #3F4B73;
    color: #D9E2FF;
}

.container {
    display: inline-flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.rollbar {
    width: 30em;
    height: 8em;
    border: 1px solid #859FF2;
    display: inline-flex;
    flex-direction: row;
    margin: 1em;
    position: relative;
}

.pointer {
    position: absolute;
    left: 50%;
    top:-7%;
    height: 9em;
    width: 2px;
    background-color: red;
    z-index: 1000;
}

.boxContainer {
    width: auto;
    display: flex;
    overflow: hidden;
}

.boxList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    list-style-type: none;
    position: relative;
}

.rollanimation {
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards;    /* FF 5+ */
    -o-animation-fill-mode: forwards;      /* Not implemented yet */
    -ms-animation-fill-mode: forwards;     /* IE 10+ */
    animation-fill-mode: forwards;
    animation: roller 2s;
}

@keyframes roller {
    100% {
        left:0;
    }
}

.list {
    background-color: #859FF2;
    border: 1px solid #3F4B73;
    width: 7em;
    height: 7em;
    display: flex;
    align-items:flex-end;
    justify-content: left;
    padding: 0.2em;
}

.winner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    background-color: #001C78;
    border: 1px solid #6A7EC2;
    padding: 1em;
    margin-bottom: 1em;
}

textarea {
    width: 20em;
    height: 8em;
    background-color: #001C78;
    border: 1px solid #6A7EC2;
    color: #D9E2FF;
    font-size: 1em;
    padding: 1em;
    overflow: auto;
    outline: none;
    resize: none; /*remove the resize handle on the bottom right*/
    margin: 1em;
}